#container 
{
    width: 400px;
    height: 400px;
    position: relative;
    background: #D8BFD8;
}

#animation 
{
    width: 150px;
    height: 50px;
    position: absolute;
    background: #3CB371;
    color: yellow;
    font-size:18px;
}
