#container 
{
    /* width: 400px;
    height: 400px;*/
    width: 98vw;
    height: 92vh;
    position: relative;
    background: #D8BFD8;
    overflow: hidden; /* Чтобы элемент не вылезал за границы при сложных расчетах */
}

/*#animation 
{
    width: 150px;
    height: 50px;
    position: absolute;
    background: red;
    color: yellow;
}
*/